# Shopify Storefront API Credentials
# Salin file ini menjadi .env dan isi dengan credentials Anda
SHOPIFY_STORE_DOMAIN=your-store.myshopify.com
SHOPIFY_STOREFRONT_ACCESS_TOKEN=your_storefront_access_token_here

# Server Config
PORT=3000
NODE_ENV=development

# iPaymu Credentials
IPAYMU_VA=your_ipaymu_va
IPAYMU_API_KEY=your_ipaymu_api_key
IPAYMU_URL=https://sandbox.ipaymu.com

# Google Auth
GOOGLE_CLIENT_ID=your_google_client_id_here
SESSION_SECRET=super_secret_session_key
